#musictable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

#musictable td, #musictable th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#musictable th:nth-child(1),
#musictable td:nth-child(1) {
    width: 25%;
}

#musictable th:nth-child(2),
#musictable td:nth-child(2) {
    width: 25%;
}

#musictable th:nth-child(3),
#musictable td:nth-child(3) {
    width: 50%;
}